*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 20px;
}
.container{
    width: fit-content;
    padding: 40px;
    border-radius: 10px;
    border: 2px rgb(95, 93, 93) solid;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    background-color: whitesmoke;
}
form{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
p{
    background-color: #32ef5e;
}
.send-form{
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #3c0cca;
    color: white;
    font-weight: bold;
    border: none;
}
#send-form:hover{
    background-color: #3062a3;
}
#send-form:active{
    background-color: #447cd6;
}
#submit-btn{
    display: flex;
    justify-content: center;
}
.hidden-div{
    width: 100%;
    padding: 16px;
    border: 2px rgb(126, 126, 179) solid;
    display: none;
    text-align: center;
}
.view-hidden,
#unemployedMsg{
    display: block;
}
#hours,
#rate{
    display: block;
    margin: 10px 0;
}
#calc-salary{
    margin-top: 16px;
}
/* #msg{
    text-wrap: balance;
} */
